# Ejercicios de SQL Básico

DER de la base de datos Northwind

<img src='https://www.campusmvp.es/recursos/image.axd?picture=Northwind_Tablas.png'/>

In [2]:
%load_ext sql

In [6]:
# verifica la IP del string de conexion
#%sql postgresql://dhuser:dhpass@192.168.1.100/nw
%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
No module named 'psycopg2'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [4]:
# realizo una consulta para verificar funcionamiento
%%sql
SELECT 'Si' AS "Funciona?";

SyntaxError: invalid syntax (626491940.py, line 3)

1. **Listar las órdenes empezando por las más recientes (ORDER BY + LIMIT)**

In [ ]:
%%sql
SELECT *
FROM Orders
ORDER BY "OrderDate" DESC
LIMIT 10;

2. **Seleccionar los campos CustomerID y EmployeeID de la tabla orders y asignarles un alias (ALIASES)**

In [ ]:
%% sql
SELECT "CustomerID" AS cust_id, "EmployeeID" AS empl_id
FROM Orders
ORDER BY "OrderDate" DESC
LIMIT 10;

3. **Obtener los clientes de ciudades que comiencen con la letra S (mayúscula). (OPERADOR LIKE)**

In [ ]:
%% sql
SELECT *
FROM Customers
WHERE "City" LIKE 'S%'
ORDER BY "OrderDate" DESC
LIMIT 10;

4. **Obtener las ciudades de los clientes, mostrando una sola vez cada ciudad. (OPERADOR DISTINCT)**

In [ ]:
%% sql
SELECT DISTINCT "City"
FROM Customers
LIMIT 10;

5. **Enumerar los descuentos que fueron aplicados en las órdenes, comenzando por el mayor.**

In [ ]:
%% sql
SELECT DISTINCT "Discount"
FROM order_details
ORDER BY "Discount" DESC;

6. **Obtener sólo 3 de las ciudades de los clientes, mostrando una sola vez cada ciudad. **

In [ ]:
%% sql
SELECT DISTINCT "City"
FROM Customers
LIMIT 3;

7. **Obtener la cantidad de ítems adquiridos en cada orden (OPERADOR GROUP BY)**

In [ ]:
%% sql
SELECT "OrderID", COUNT(*) AS NumOrderItems
FROM order_details
GROUP BY "OrderID";

8. **Calcular el total de cada orden, sin considerar los descuentos**

In [ ]:
%% sql
SELECT "OrderID", SUM("UnitPrice" * "Quantity") AS TotalAmount
FROM order_details
GROUP BY "OrderID";

9. **Traer el número y el total de cada orden para órdenes mayores a \$ 500. Renombrar el total con un alias.**

In [ ]:
%% sql
SELECT "OrderID", SUM("UnitPrice" * "Quantity") AS TotalAmount
FROM order_details
GROUP BY "OrderID"
HAVING TotalAmount > 500;

10. **Calcular el total de cada orden, considerando el descuento**

In [ ]:
%% sql
SELECT "OrderID", SUM("UnitPrice" * "Quantity" * (1 - "Discount")) AS TotalWithDiscount
FROM order_details
GROUP BY "OrderID";

11. **Calcular, para cada orden, el total original y el total con descuento sólo de los ítems que tienen un 10\% de descuento o más.**

In [ ]:
%% sql
SELECT "OrderID",
       SUM("UnitPrice" * "Quantity") AS Total,
       SUM("UnitPrice" * "Quantity" * (1 - "Discount")) AS TotalWithDiscount
FROM order_details
WHERE "Discount" >= 0.1
GROUP BY "OrderID";