# Ejercicios de SQL Básico

DER de la base de datos Northwind

<img src='https://www.campusmvp.es/recursos/image.axd?picture=Northwind_Tablas.png'/>

In [ ]:
%load_ext sql

In [ ]:
# verifica la IP del string de conexion
#%sql postgresql://dhuser:dhpass@192.168.1.100/nw
%sql postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/northwind

In [ ]:
# realizo una consulta para verificar funcionamiento
%%sql
SELECT 'Si' AS "Funciona?";

### 1. Se desea visualizar las órdenes con su respectivo cliente, imprimiendo en la respuesta *OrderID*, *CompanyName* y *OrderDate*.

In [ ]:
%%sql
SELECT Orders."OrderID", customers."CompanyName", Orders."OrderDate"
FROM Orders
JOIN Customers
    ON Orders."CustomerID" = Customers."CustomerID";

### 2. Se desea visualizar los clientes que no hayan realizado órdenes, imprimiendo en la respuesta *CustomerID* y *CompanyName*.

In [ ]:
%%sql
SELECT customers."CustomerID", customers."CompanyName"
FROM customers 
LEFT JOIN Orders
    ON customers."CustomerID" == Orders."CustomerID"
WHERE Orders."CustomerID" IS NULL IS NULL;

### 3. ¿Cuántos productos por categoría contiene el catálogo? Imprima la respuesta con *CategoryName* y *Cantidad*.

In [ ]:
%%sql
SELECT c."CategoryName", COUNT(*) AS Cantidad
FROM Products AS P
RIGHT JOIN Categories AS c
    ON p."CategoryID" = c."CategoryID"
GROUP BY c."CategoryID"
ORDER BY Cantidad DESC;

### 4. ¿Cuáles son los 5 clientes que están generando los mayores ingresos? Imprima una tabla con *CustomerID* e *Ingresos*. Tendrá que utilizar datos de 3 tablas.

In [ ]:
%%sql
SELECT c."CustomerID", 
       SUM(od."UnitPrice" * od."Quantity" * (1 - od."Discount")) AS Ingresos
FROM Customers AS c
JOIN Orders AS o ON c."CustomerID" = o."CustomerID"
JOIN order_details as od ON o."OrderID" = od."OrderID"
GROUP BY c."CustomerID"
ORDER BY Ingresos DESC
LIMIT 5;

### 5. ¿En qué países se encuentran los 5 principales proveedores, por número de unidades suministradas que hayan sido vendidas? Imprima una tabla con el *CompanyName* del proveedor, *Country* y el número total de *Unidades Vendidas*.

In [ ]:
%%sql
SELECT s."CompanyName",
       s."Country",
       SUM(od."Quantity") AS UnidadesVendidas
FROM order_details AS od
JOIN products AS p ON od."ProductID" = p."ProductID"
JOIN suppliers AS s ON p."SupplierID" = s."SupplierID"
GROUP BY s."SupplierID"
ORDER BY UnidadesVendidas DESC
LIMIT 5;